[2011-11-07 16:46] xuhdev opened #1 "end_of_line should be CR and LF, a typo is on the website"
As the title. What's more, should the value be case sensitive?

[2011-11-13 17:40] #1 closed, assigned to nobody

[2011-11-18 20:43] treyhunner opened #2 "Add documentation for `/` usage in section names"
Add documentation to website for this behavior:
1. When a pattern contains `/` characters, match the end of the file's directory path (can be matched as far up as the path of the found `.editorconfig` file)
2. When a pattern starts with `/`, match paths in the config file directory only

[2011-11-18 21:31] treyhunner opened #3 "Create logo"
As mentioned in [this mailing list thread](http://groups.google.com/group/editorconfig/browse_thread/thread/611597d58ae8a14e/0de80db7660aa272?lnk=gst&q=logo#0de80db7660aa272), this project needs a nice logo.

[2011-11-18 21:35] treyhunner opened #4 "Split website into multiple pages"
The single page website layout has become lengthy.  We should split the website into multiple pages and [use Jekyll for templating](http://pages.github.com/#using_jekyll_for_complex_layouts).

We need to decide how we want to split up the site into pages and what layout we want to use for navigation.

[2011-11-20 04:27] xuhdev opened #5 "html documentation could not be displayed properly on Konqueror and Opera Mini"
Continued discussion: https://github.com/editorconfig/editorconfig/issues/10

[2011-11-21 07:33] #4 closed, assigned to treyhunner

[2011-11-21 07:34] #5 closed, assigned to treyhunner

[2011-11-21 07:34] #3 closed, assigned to nobody

[2011-11-21 07:35] #2 closed, assigned to treyhunner

[2015-03-24 15:24] treyhunner opened #31 "Put SourceLair logo on the website"
The SourceLair online IDE supports EditorConfig now: https://www.sourcelair.com/blog/articles/60/introducing-editorconfig-support

Link to use for the logo: https://www.sourcelair.com/features/editorconfig

@ineptcat

[2015-04-29 17:04] treyhunner commented on #31
Fixed by #32.

[2015-04-29 17:04] #31 closed

[2015-04-29 17:09] treyhunner opened #35 "Distinguish between native support and plugin-based support"
Maybe we should make it more clear that certain editors already have native support.

Maybe we could make the linked logos look different or break them out or have toggle switches to show only some of them?

This might also encourage text editor developers to include native support for EditorConfig.

[2015-04-29 22:15] jedmao commented on #35
Interesting idea. On that note, I just [submitted a feature request for Visual Studio Code to add native support](http://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7758189-support-editorconfig) and I could use your upvotes people!

[2015-04-29 22:15] jedmao commented on #35
I would definitely prefer native support for obvious reasons, so I :+1: this request.

[2015-04-30 20:23] denofevil commented on #35
:+1:
How about two sections with native ones before plugin-based?

[2015-04-30 20:26] denofevil opened #37 "Can we put CLion logo on the website?"
The recently released C/C++ IDE from JetBrains also supports EditorConfig via plugin

Link to use for the logo: https://www.jetbrains.com/company/press/materials.html#clion

[2015-04-30 23:09] treyhunner commented on #37
I hadn't heard of CLion yet.  I just asked @ineptcat.  We'll try to get a logo up this weekend.

[2015-05-01 08:35] denofevil commented on #37
Thank you

[2015-05-03 07:13] #37 closed

[2015-05-20 18:31] treyhunner commented on #35
Done in #38

[2015-05-20 18:31] #35 closed

[2015-05-20 18:39] treyhunner opened #44 "Add section for plugins we hope to see"
We could call the section "Maybe Someday".  We could instead call it "in-progress" but that might be misleading for plugins that were attempted but then stopped.

I'm not sure whether we should try to list logos in this section or just text links.  @ineptcat draws some of the logos ahead of time, but not all of them because it's hard to tell whether some plugins will ever be done.

Some ideas for

[2015-05-20 19:10] ineptcat commented on #44
I'm all for encouraging things to happen. If you think some are more likely to happen (>50%, say) I could draw up a logo and we could put it up as a "preview", or make it really tiny or really faint or something.

[2015-06-13 06:12] treyhunner opened #49 "Make a blog for announcements"
As discussed in #48 by [Hong](https://github.com/editorconfig/editorconfig.github.com/pull/48#issuecomment-110113975).

[2015-06-26 00:57] xuhdev commented on #49
I think we can do it either with WordPress or a static site generator.

WordPress:

Pros:

- Longer history, well supported (don't expect it die in 10 years);
- many themes;
- don't rely on a third party to have a commenting system.

Cons:

- self maintenance unless we pay;
- not easy to track in a code repository.

Current popular static site generators are on the contrary. I'm mostly worried abo

[2015-07-09 19:38] treyhunner commented on #49
Another alternative: [Ghost](https://ghost.org/)

[2015-07-09 23:11] jedmao commented on #49
I've used Ghost and I'm very happy with it.

[2015-07-16 18:07] xuhdev commented on #49
We can go with [Nikola](http://getnikola.com) which is what I'm using for my blog (I'm more familiar with), but not as popular as [pelican](http://getpelican.com), which is used by kernel.org (thus don't expect it to die soon).

[2015-07-16 18:12] jedmao commented on #49
Ghost has a better design aesthetic IMO.

[2015-07-18 01:04] treyhunner commented on #49
We use pelican for pythonsd.org and I am not a fan (at least not of the version we're using).

I'm fine with any of these options.  I do not plan to produce much content for the blog, but it would be nice to have for short announcement posts if for nothing else.  Allowing posting from community members occasionally might be nice, but I don't think it's a strictly necessary feature.

[2015-07-18 06:30] xuhdev commented on #49
Yes, I suppose we would only use it for announcement

[2015-11-19 04:11] treyhunner opened #51 "Add Visual Studio Code logo"
- [extension](https://marketplace.visualstudio.com/items/chrisdias.vscodeEditorConfig)
- [repository](https://github.com/Microsoft/vscode-editorconfig)

Some questions:

- Does VS Code have a separate logo from Visual Studio?
- What is the status of the VS Code plugin?
- Will we be linking this under the "no plugin necessary" section or the "download a plugin" section?

[2015-11-19 04:11] treyhunner commented on #51
@chrisdias any input on the status of the VS Code EditorConfig plugin would be wonderful! 😄

[2015-11-19 04:21] jedmao commented on #51
Their logo shape is exactly the same, but I've noticed that the [Visual Studio Code site](https://code.visualstudio.com/) is violet, but the taskbar icon is blue.

The full-blown Visual Studio taskbar icon is a darker violet, see?

![vscode](https://cloud.githubusercontent.com/assets/1058243/11262251/77be01c0-8e42-11e5-928a-f2f6c4097559.png)

You definitely have to install the plugin from within t

[2016-01-05 13:36] mitchdenny commented on #51
This can be closed out now. The plug-in now exists and pull request #53 added the links in.

[2016-01-05 19:39] #51 closed

[2016-01-05 20:53] chrisdias commented on #51
cool! any chance we can make it say "Visual Studio Code" instead of just "Visual Studio"?  right now there are just 2 visual studio icons side by side and its not clear which is which.

[2016-01-05 23:14] mitchdenny commented on #51
Is there an original vector version of the logo with fonts etc, if so I'd be happy to tweak it. Actually @chrisdias, I was going to ask, does the VS team have a generic term to use to describe VS Community/Professional/Enterpise to describe that family of IDE vs. Visual Studio Code?

[2016-01-06 00:44] chrisdias commented on #51
The terms are "Visual Studio" for the Windows desktop product (including Community, etc.) and "Visual Studio Code" for our x-plat editor.  So in this case you would have the purple "Visual Studio" and the blue "Visual Studio Code".

Let me see if i can get you vector based versions.

[2016-01-06 00:51] jedmao commented on #51
Here's a vector version: https://code.visualstudio.com/Content/images/vscode.ico

[2016-01-06 00:51] jedmao commented on #51
Oops! I take that back.

[2016-01-06 01:03] jedmao commented on #51
FWIW [visual-studio-code.pdf](https://github.com/editorconfig/editorconfig.github.com/files/79273/visual-studio-code.pdf). GitHub won't let me upload an SVG.

[2016-01-06 01:53] mitchdenny commented on #51
I was more thinking the originals for the images that are already there. It seems that there is a distinctive style being used on the site (the images/fonts have a bit of a wobble). So I was hoping to be consistent with that. Who originally came up with the images that are there now?

[2016-01-06 02:03] ineptcat commented on #51
Hi, the originals for the images were hand-drawn by me - sorry I've been unresponsive on this thread so far. I can work on a version for Visual Studio Code.

[2016-01-06 02:04] mitchdenny commented on #51
@ineptcat - what would be awesome. Thank-you!

[2016-01-06 06:08] treyhunner commented on #51
I'm out of town. I'll chime in this weekend.

[2016-01-10 18:22] treyhunner commented on #51
I opened a pull request with a new logo and text from @ineptcat: #55. Thoughts?

[2016-05-14 22:06] ffes commented on #49
Since the site is hosted at Github Pages, why not use Jekylls blog features. If you like that idea, I have a fairly straightforward patch/PR to add blog posts to the current website.

Pros:
* Easy integration in the current site
* Just add a markdown/html file to `_posts`. See https://jekyllrb.com/docs/posts/
* No need to maintain the blog software/users login/etc
* Everybody can new posts with a

[2016-07-13 00:23] #49 closed

[2016-08-19 17:03] davidstrauss opened #62 "GNOME Builder also has built-in support"
Can someone update the editor/IDE listings?

[2016-08-23 10:40] ffes commented on #62
As you can see on the current website we try to reference a source showing that there is built-in support in that editor. I cannot find it on [their wiki](https://wiki.gnome.org/Apps/Builder/Features), but maybe I look in the wrong place. All I could find is a number of commits including [this one](https://git.gnome.org/browse/gnome-builder/commit/?id=6f1d2a5865555d42f6ffed67042f9e4a52aa6513) wher

[2016-08-24 04:03] treyhunner commented on #62
@ineptcat draws the logos. She can give a time estimate for a new logo. First we should figure out what to link to that notes support.

[2016-08-24 12:49] ffes commented on #62
Maybe we can ask @chergert (the main dev op GNOME Builder) to add "Support for EditorConfig" to the [Feature page of their wiki](https://wiki.gnome.org/Apps/Builder/Features), so we can link to that page. Don't know if mentioning him here would be enough. If not I could try IRC or an email as well.

[2016-08-24 17:29] chergert commented on #62
No problem. You can use https://wiki.gnome.org/Apps/Builder/Features#EditorConfig for a link.

[2016-08-26 10:54] ffes commented on #62
@chergert Thanks a lot!

As soon as there is a drawing of the logo for the site I will prepare a PR

[2016-08-28 12:18] bittner opened #64 "Why are plugins required for PhpStorm and PyCharm? (but not for IntelliJ IDEA)"
The website states that [plugins are required](https://github.com/editorconfig/editorconfig.github.com/blob/master/index.html#L154-L155) for the following JetBrains products
- PhpStorm
- PyCharm

but [not for the following](https://github.com/editorconfig/editorconfig.github.com/blob/master/index.html#L127-L132) JetBrains products
- CLion
- RubyMine
- WebStorm
- IntelliJ IDEA.
## Update of Lists N

[2016-08-28 12:53] bittner commented on #64
I've opened [issue PY-20574](https://youtrack.jetbrains.com/issue/PY-20574?query=tag:%20EditorConfig) on YouTrack to clarify part 2 of this issue.

[2016-08-28 17:15] xuhdev commented on #64
JetBrain maintains all of their plugins, so we'll just wait for their response...

[2016-08-28 19:32] denofevil commented on #64
@bittner, EditorConfig plugin is bundled into WebStorm, RubyMine and IntelliJ IDEA. Thus, it's not needed for these IDEs. Other IDEs, such as PhpStorm and PyCharm don't bundle it, but it can be installed a plugin - that's why it's on the plugins site.
I think only problem here is that CLion is shown in the first list, while it requires a plugin.

[2016-08-28 20:59] bittner commented on #64
@denofevil Okay, so the website here needs to be updated. But the [JetBrains plugin's](https://plugins.jetbrains.com/plugin/7294) description also needs to be updated then and include PyCharm, correct?

Interestingly though, PyCharm (2016.2.2) shows the _"EditorConfig is overriding ..."_ message out-of-the-box, i.e. I didn't install any plugin myself. Was this shipped with the recent update?

[2016-08-28 22:06] denofevil commented on #64
@bittner oops, sorry, looks like PyCharm is bundling it too, so it should be moved up

[2016-08-29 05:24] ineptcat commented on #62
![gnome_builder_t](https://cloud.githubusercontent.com/assets/2091281/18041460/1eaa5a0a-6d6e-11e6-9fca-2273adcd82c0.png)
@ffes here you go.

[2016-08-29 07:17] xuhdev commented on #62
:+1:

[2016-08-31 18:37] #62 closed

[2016-10-11 09:40] rugk opened #66 "HTTPS"
It would be nice if http://editorconfig.org/ supports HTTPS.

[2016-10-11 10:59] ffes commented on #66
GitHub pages (where editorconfig.org is hosted) doesn't support https for custom domain at the moment. See https://help.github.com/articles/securing-your-github-pages-site-with-https/

[2016-11-27 01:04] treyhunner commented on #64
@denofevil so CLion should be moved down and PyCharm should be moved up, right?

[2016-11-28 09:30] denofevil commented on #64
@treyhunner yes, that's right

[2016-12-25 14:51] awebdeveloper opened #72 "Visual studio 2017 supports editorconfig"
Visual studio 2017 rc1 supports editorconfig out of box.

https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/6146845-support-editorconfig

[2016-12-25 17:34] xuhdev commented on #72
Let's wait for the final release :)

[2016-12-26 22:08] ffes commented on #72
I agree with @xuhdev to wait for the final release of VS2017 to put it on the website.

Also see https://github.com/editorconfig/editorconfig-visualstudio/issues/49

[2016-12-26 22:10] ffes commented on #72
And also see #68

[2016-12-27 14:33] awebdeveloper commented on #72
Was just bring attention. looks like you ppl are already ahead

[2017-06-18 13:39] jorgesumle opened #76 "The logo of Gogs is outdated"
This is the new logo: ![logo](https://try.gogs.io/img/favicon.png)

[2017-06-18 14:02] jorgesumle opened #77 "Some critics and suggestions"
![captura de pantalla de 2017-06-18 15 57 15](https://user-images.githubusercontent.com/14212780/27261242-83675b4c-543f-11e7-94b0-f147de2d2ac4.png)
It would be nice to use a real mailing list (I mean using email). Google Groups doesn't work with JavaScript disabled and compromises the privacy of its users. In addition, Google Groups requires a Google Account, which not all people have. A plus if u

[2017-06-19 07:20] xuhdev commented on #77
For the mailing list, Google groups also  offer a subscription email address ( try shooting an email to `editorconfig+subscribe@googlegroups.com`). Since the mailing list is public any way, as long as you don't visit their websites, there shouldn't be any real privacy issue. Do you agree? If you agree, I can put up the subscription email address for people who don't want to visit their website. Fo

[2017-06-19 07:21] xuhdev commented on #76
@ineptcat Can you help out again? Thank you!

[2017-06-19 11:41] jorgesumle commented on #77
I didn't know that, thanks for the explanation. If that's the case, then there shouldn't be any problem. For me that's more clear and what most people would expect from the term "mailing list".

Yes, that sounds good.

[2017-06-19 11:41] jorgesumle commented on #77
I didn't know that, thanks for the explanation. If that's the case, then there shouldn't be any problem. For me that's more clear and what most people would expect from the term "mailing list".

Yes, that sounds good.

[2017-06-20 17:41] ineptcat commented on #76
sorry it took a little while - here you go!

![gogs2_t](https://user-images.githubusercontent.com/2091281/27347310-05a1bfce-55a5-11e7-8b21-384b7ac05272.png)

[2017-06-23 04:39] xuhdev commented on #76
@ineptcat Awesome, thanks!

[2017-06-23 04:41] #76 closed

[2017-06-23 04:42] xuhdev commented on #64
Are we really going to make this change? This has been delayed for almost one year.

[2017-07-13 10:06] coliff commented on #66
It does work (really well) if you use Cloudflare:
https://hackernoon.com/set-up-ssl-on-github-pages-with-custom-domains-for-free-a576bdf51bc

[2017-07-13 13:54] ffes commented on #66
That is an interesting solution! Was not aware of that! Not sure who should create the cloudflare account to test/setup this.

[2017-07-13 19:07] xuhdev commented on #66
I don't think it is a good idea to have two levels of CDNs, which would slow things down. In addition, CloudFlare does not provide a real SSL certificate -- it's all theirs and the point of having an HTTPS website is dismissed.

[2017-07-13 19:49] rugk commented on #66
Yes, Cloudflare is debutable considering their "HTTPS interception built-in" approach. But, no, it won't be slower… (GitHub uses Fastly, BTW, AFAIK)

[2017-07-13 20:26] xuhdev commented on #66
@rugk  The reason for which it would be slower is because we now have two layers of CDNs.

[2017-07-13 20:39] rugk commented on #66
Yeah, but Cloudflare also caches (at least optionally), so you won't notice it.

[2017-07-14 04:15] xuhdev commented on #66
@treyhunner What do you think?

[2017-07-16 16:22] treyhunner commented on #66
I tried this on my personal blog a some time back and ended up backing out of it due to some Cloudflare limitation and I don't remember what it was. I think it was a mix of some HTTP-only embedded content and the fact that some of my friends smart phones didn't work with the Cloudflare certificates so my blog started showing security warnings.

My thoughts are that this is not a big priority in my

[2017-07-16 18:44] rugk commented on #66
:arrow_right: https://doesmysiteneedhttps.com/

See "There's nothing sensitive on my site anyway." there.

Actually Cloudflare should work quite well (they really care about old phones and so on, not sure what your friends experienced, likely either fixed or a different issue) and I hope you have not many resources embedded on this project site, so…
So as for technical issues I think you really do

[2017-07-27 17:47] jorgesumle commented on #77
Today I discovered that I couldn't subscribe as the subscription website made by Google contains only JavaScript. The code is proprietary and we don't know what it does, so I wouldn't recommend anyone to execute it. A proper privacy-respecting mailing list which is accessible to everyone is the way to go.

[2017-07-28 09:04] xuhdev commented on #77
@jorgesumle Have you tried to subscription email address listed on the website?

[2017-07-28 09:49] jorgesumle commented on #77
Yes, and after that I received a confirmation email.
![captura de pantalla_2017-07-28_11-46-09](https://user-images.githubusercontent.com/14212780/28712167-6f92ca88-738a-11e7-880d-3c8d230f6a5a.png)

But pressing the button doesn't have any effect, as webiste doesn't do anything with JavaScript disabled, I get [this same message](https://github.com/editorconfig/editorconfig.github.com/issues/77#iss

[2017-07-29 00:47] xuhdev commented on #77
@jorgesumle Interesting... Seems they have changed their system to enforce webpage visiting. Do you have any ideas to synchronize the old contents with a mailing list?

[2017-08-15 00:00] xuhdev commented on #72
VS 2017 has been released. What should we change here? Visual studio is already in the "No plugin needed" section.

[2017-08-15 07:38] ffes commented on #72
I would suggest: All done, so just close this one.

[2017-08-15 10:05] #72 closed

[2017-08-23 15:35] mdraw opened #78 "KTextEditor (Kate, KWrite, KDevelop, Kile etc.) supports .editorconfig"
Since https://phabricator.kde.org/D4537 has been merged (into 5.32+, see [merge commit](https://phabricator.kde.org/R39:f9f133b6ac72dfa12bdeeab1a37c5e9dc9a9354e)), KTextEditor supports .editorconfig.
KTextEditor is the text editing component used by ([among others](https://kate-editor.org/2013/11/11/kate-on-5-the-future-of-ktexteditor-and-kate-part/)):
- Kate (https://kate-editor.org/)
- KWrite (h

[2017-08-23 16:02] xuhdev commented on #78
@ineptcat Can you help out again? Thank you!

[2017-09-22 10:34] gyrovague opened #79 "CodeLite supports EditorConfig"
CodeLite ( https://codelite.org/ ) has integrated EditorConfig support since Dec 2016, see last post here: https://github.com/eranif/codelite/issues/1046

CodeLite should therefore be added to the list of supported editors on the http://editorconfig.org/ main website. It seems to be implemented as a plugin (i.e. accessible under the "Plugins" main menu option), but it is included and enabled by de

[2017-10-24 00:36] treyhunner commented on #79
I agree that this should be in the No Plugin Necessary section.

What should be used as the logo?

@ineptcat would you mind drawing a logo for CodeLite?

[2017-10-24 07:06] gyrovague commented on #79
I don't really know what the appropriate logo is, I guess best would be to reach out to CodeLite devs and ask? The main site seems to have that silver dragon logo, but the app icon (and website favicon) has a much simpler/cleaner 3 coloured blocks thing
![image](https://user-images.githubusercontent.com/1925426/31929041-9e791190-b89a-11e7-8e95-a23e59e93125.png)

[2017-11-14 01:09] xuhdev commented on #66
@rugk Can you suggest a host which accept HTTPS hosting and is easily accessible to all developers? As I mentioned before, if we use CloudFlares, the point to use HTTPS is dismissed (no middleman attack). If there is no proper place for such type of hosting for open source projects, perhaps someone should start such a service?

[2017-11-14 07:00] ffes commented on #66
GitLab does have support for https on custom domains, but Let's Encrypt is a bit hard to use for that because you have copy and paste the certs manually every 90 days.

[2017-11-14 07:23] xuhdev commented on #66
@ffes I found [this](https://www.globalsign.com/en/ssl/ssl-open-source/): free ssl certificate for open source projects. Do you have any experience with them?

[2017-11-14 10:02] ffes commented on #66
@xuhdev No, that's new to me.

[2017-11-15 19:56] ineptcat commented on #79
Thanks for your patience!
![codelite_t](https://user-images.githubusercontent.com/2091281/32857250-05a016f8-c9fc-11e7-8473-f2074c4b36bc.png)

[2017-11-15 20:08] ineptcat commented on #78
Thank you for waiting, sorry for the delay! Here's a logo for KTextEditor. Do we need one for the others, that is, Kate, KWrite, KDevelop, Kile ?
![ktexteditor_t](https://user-images.githubusercontent.com/2091281/32857736-b537a65c-c9fd-11e7-80ce-d10ee05c55f5.png)

[2017-12-05 01:57] xuhdev commented on #79
Added: a5c7c192e49be7b3f5a05dd3242244e755e3aea7

Thank you all!

[2017-12-05 01:57] #79 closed

[2017-12-05 01:58] xuhdev commented on #78
@ineptcat Thank you! I think KTextEditor should be OK.

[2017-12-05 02:06] #78 closed

[2017-12-22 21:59] ppalaga opened #81 "List ec4j as EditorConfig Java library"
@xuhdev could we please get a link to https://github.com/ec4j/ec4j ?

[2017-12-22 22:23] #81 closed

[2017-12-22 22:24] xuhdev commented on #81
Awesome!! Thanks!!

[2017-12-22 22:27] ppalaga commented on #81
Thanks, could you please add Angelo Zerr https://github.com/angelozerr as the co-author of ec4j?

[2017-12-22 22:37] xuhdev commented on #81
Thanks, done

[2017-12-23 20:39] xuhdev commented on #66
I have contacted GlobalSign and waiting for their response to grant us a free certificate.

[2018-01-03 08:39] ppalaga opened #82 "List editorconfig-maven-plugin"
@xuhdev could you please list the brand new editorconfig-maven-plugin?
The link is  http://ec4j.github.io/editorconfig-maven-plugin/ and I am the sole author.

[2018-01-05 22:47] xuhdev commented on #82
Sure. Which section do you think it should be added? Maybe editors? We need a new logo again. Can you help out, @ineptcat and @Pittan? :smile:

[2018-01-07 13:51] ppalaga commented on #82
Maven is a build tool rather than an editor. editorconfig-maven-plugin helps to detect formatting violations and eventually fix them too. I'd say it falls under a broader category of headless tools. `editorconfig-tools` npm package [1] seems to do the same thing.

If you do not want to introduce the "headless tools" category for now, I do not mind editorconfig-maven-plugin to be listed under edito

[2018-01-07 13:55] Pittan commented on #82
@xuhdev Sure :)
@ppalaga> Is there any logos?

[2018-01-07 15:51] ppalaga commented on #82
If you mean Maven logo, this is I think, the most recent one http://maven.apache.org/images/maven-logo-black-on-white.png
editorconfig-maven-plugin has no logo.

[2018-01-07 17:14] xuhdev commented on #82
@Pittan Thanks!
@ppalaga Actually, why not extract the checking and enforcing code in the plugin, so we can use it elsewhere? And I also agree that this is not a traditional editor plugin. I think we can add a headless tool section.

[2018-01-07 19:32] ppalaga commented on #82
I am about do that so that I can re-use it in a Gradle plugin

[2018-01-27 08:23] Pittan commented on #82
How do I add Maven logo?
Should I add a image only?

[2018-01-27 08:34] xuhdev commented on #82
@Pittan Awesome! For your convenience, you can just upload the logo here in png format :)

[2018-01-27 08:34] xuhdev commented on #82
@Pittan Or, if you like, you can make a PR directly

[2018-01-28 14:17] Pittan commented on #82
@ppalaga  I made a PR 😀

[2018-01-29 06:41] xuhdev commented on #82
Solved in 477a7accd843c7a04bd07c1d97887a7b67299af8 , thank you all for the Maven plugin @ppalaga and for the logo @Pittan !

[2018-01-29 06:41] #82 closed

[2018-03-06 07:21] mikerochip commented on #44
I ended up writing one for MonoDevelop, so at least that one can be taken off the list! Here's the issue: https://github.com/editorconfig/editorconfig/issues/158

Not sure who's attention I need to get to close out that issue though. @treyhunner?

[2018-03-06 07:52] xuhdev opened #85 "List MonoDevelop"
An MonoDevelop plugin has been made available at https://github.com/mikerochip/editorconfig-monodevelop by @mikerochip (Thanks and great work!)

@ineptcat @Pittan Would you like to help out with the icon again :smiley: ? Many thanks!

Also see editorconfig/editorconfig#158

[2018-03-06 16:07] mhutch commented on #85
Note also that MonoDevelop 7.5+ (currently in preview) has editorconfig built in.

[2018-03-07 03:17] mikerochip commented on #85
Thanks @xuhdev! Either through my plugin or the official 7.5 release, MonoDevelop and Visual Studio for Mac now have support from this point forward, so no need to stop icon creation and plugin listing.

[2018-03-10 01:32] Pittan commented on #85
Okay, new icon coming...🚚
Do I have to draw MonoDevelop and VS for Mac(Maybe it can use the Original VS icon)

[2018-03-10 04:35] xuhdev commented on #85
@Pittan I think MonoDevelop should be good enough... VS icon can be used cross-platform.

[2018-03-10 06:13] mikerochip commented on #85
@xuhdev @Pittan My suggestion would be:
* 2 new icons that both link to the same place.
* The Visual Studio for Mac icon can use the same graphic as Visual Studio but the text should say "Visual Studio for Mac"

The problem with re-using the existing Visual Studio icon is that the Visual Studio for Mac plugin is the same as the MonoDevelop plugin, it is not the Visual Studio plugin.

Hope that mak

[2018-03-10 06:37] xuhdev commented on #85
Hmm, how about put both in the same image, and divide them using a dashed vertical line?

[2018-03-10 06:52] mikerochip commented on #85
That's a really cool idea!

[2018-03-10 06:54] jedmao commented on #85
Or a diagonal line.

[2018-03-15 03:07] cassidyjames commented on #44
We're [working on EditorConfig support](https://github.com/elementary/code/issues/323) in elementary Code! We'd love to be added once [the PR](https://github.com/elementary/code/pull/345) is merged.

Icon:
![icon](https://cdn.rawgit.com/elementary/code/3071aa0039f2c6109e165f737059085933e74685/data/icons/128/io.elementary.code.svg)

[2018-03-15 04:49] xuhdev commented on #44
Actually I think this should be closed... @cassidyjames Would you mind opening a new issue? It's easier for us to track. Thanks!

[2018-03-15 04:49] #44 closed

[2018-03-15 21:36] cassidyjames opened #86 "Add elementary Code"
We're [working on EditorConfig support](https://github.com/elementary/code/issues/323) in [elementary Code](https://github.com/elementary/code)! We'd love to be added once [the PR](https://github.com/elementary/code/pull/345) is merged.

Icon:
![icon](https://cdn.rawgit.com/elementary/code/3071aa0039f2c6109e165f737059085933e74685/data/icons/128/io.elementary.code.svg)

[2018-04-17 17:49] xuhdev commented on #85
Closed in 1d478b0349921da163f60951272ae65837c595b9

[2018-04-17 17:49] #85 closed

[2018-04-18 05:08] mikerochip commented on #85
It looks awesome! Thank you again @xuhdev and @Pittan!

[2018-04-21 00:45] treyhunner commented on #86
@Pittan would you be interested in drawing a version of this icon by any chance? 🙂

[2018-04-30 18:15] #86 closed

[2018-05-07 18:17] TheSeg commented on #66
GitHub now allows custom domains to be served under HTTPS!

https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-05-13 20:45] dodekeract opened #89 "XCode Plugin is Dead"
Link should be removed. Current `http://alcatraz.io` website can be bought and potentially be used to infect people with malware, thinking they'll download a legitimate editorconfig plugin.

[2018-05-14 03:34] xuhdev commented on #89
Where is this link?

[2018-05-14 05:49] ffes commented on #89
As @xuhdev says, the link to the XCode editorconfig plugin on the website is `https://github.com/MarcoSero/EditorConfig-Xcode`. Don't see the link you mention. But I'm AFK and maybe we both missed something.

[2018-05-16 16:41] mhutch opened #90 "Mark MonoDevelop/VSMac as "No Plugin Necessary""
As of the 7.5 release last week, Visual Studio for Mac and MonoDevelop support editorconfig natively.

[2018-05-18 00:29] xuhdev commented on #90
Thanks! Can you give us a hint? I actually cannot find any info on the plugin website...

[2018-05-18 11:27] mhutch commented on #90
See the release notes at https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-mac-relnotes

[2018-05-18 12:32] ffes commented on #89
Indeed it seems that Xcode "Plugins" are dead and are replaced by "Extensions".

https://github.com/MarcoSero/EditorConfig-Xcode/issues/6

https://medium.com/rocknnull/xcode-8-plugins-alcatraz-the-end-of-an-era-ea6e63617d14

So let's remove the link to this plugin. But keep the icon, maybe EditorConfig will work in Xcode (already or in the future)

[2018-05-18 18:48] #89 closed

[2018-05-18 18:51] #90 closed

[2018-05-18 18:52] xuhdev commented on #90
Indeed, thanks!

[2018-05-18 20:38] mhutch commented on #90
Thanks! One minor clarification - it doesn't use the plugin, it's part of the core. The plugin it still useful for older versions though.

[2018-05-21 12:35] ffes commented on #66
@xuhdev Any change to look into this.

As described in the blog post above, the `A` records needs to changed for HTTPS to work. Once that is done HTTPS should work and then it can be enforced with a checkbox.

[2018-05-21 19:03] xuhdev commented on #66
@ffes I did not get any response from GlobalSign. No matter what, we need a certificate, don't we?

[2018-05-21 19:10] ffes commented on #66
As @TheSeg mentioned, GitHub pages supports https.

https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-05-21 19:20] xuhdev commented on #66
@ffes I see, they are partnering with lets encrypt. @treyhunner Can you update the `A` record? Enforcing HTTPS would still be bad if we use this approach, since lets-encrypt is not widely trusted (yet).

[2018-05-21 19:30] rugk commented on #66
They are not directly in all root cert stores, but they have a cross-signature from Identrust, which has been available quite some time (years?) before LE even started. That's why you could and can use Let's Encrypt without having to worry about old devices/browsers not being able to access your site.

In any case, TL;DR: Enable HTTPS and force it.

[2018-05-27 18:51] xuhdev commented on #66
@treyhunner Can you update the `A` record? Thanks.

[2018-05-29 09:31] ffes commented on #66
I see the 4 `A`-records are set as described in https://help.github.com/articles/setting-up-an-apex-domain/

[code]

But https://editorconfig.org/ doesn't work yet. It still give a certificate error.

Do you need to set a switch somewhere to accomplice that? (I don't see a need for that in the docs)

[2018-05-29 15:25] TheSeg commented on #66
@ffes Have you set the "Force HTTPS" setting? I had to do that on a different domain hosted on GitHub.

https://help.github.com/articles/securing-your-github-pages-site-with-https/

[2018-05-29 18:22] xuhdev commented on #66
It says the certificate requires 24 hours to be issued. We simply have to wait.

[2018-05-30 00:06] coliff commented on #66
it works now! 🎉  https://editorconfig.org/ is live!
i'll open a quick PR to update a couple of places where http://editorconfig.org is referenced

[2018-05-30 00:10] coliff commented on #66
Done. #92

[2018-05-30 03:34] xuhdev commented on #66
Done!

[2018-05-30 03:34] #66 closed

[2018-10-04 20:47] ppalaga opened #98 "List editorconfig-gradle-plugin and editorconfig-ant-tasks"
Gradle and Apache Ant are Java build tools much like Apache Maven. Please list the new plugins for Gradle https://github.com/ec4j/editorconfig-gradle-plugin and Apache Ant https://github.com/ec4j/editorconfig-ant-tasks under the headless tools.

[2018-10-04 22:12] xuhdev commented on #98
@Pittan  Can you help us again? Thanks!

[2018-10-09 19:57] xuhdev commented on #64
Seems fixed. Closed now.

[2018-10-09 19:57] #64 closed

[2018-10-10 16:14] jafl opened #99 "Code Crusader now supports EditorConfig"
I just released an update for Code Crusader that adds support for .editorconfig files.  The homepage is https://sourceforge.net/projects/codecrusader/

[2018-10-10 21:48] treyhunner commented on #99
Does Code Crusader have a logo?

[2018-10-11 17:11] jafl commented on #99
Yes:  https://sourceforge.net/p/codecrusader/icon?1539277845

[2018-10-13 01:40] kounoike opened #100 "GitBucket supports editorconfig"
[GitBucket](https://github.com/gitbucket/gitbucket) is repository manager like GitHub/Gogs.
It supports editorconfig in repository browser/editor by my [PR](https://github.com/gitbucket/gitbucket/pull/1966). It doesn't require any plugin. Could you add GitBucket into supported editors list?

- Homepage: https://github.com/gitbucket/gitbucket or https://gitbucket.github.io/
- Logo: https://github.c

[2018-11-13 16:03] mcandre opened #101 "Note 'none' value for disabling rules"
The introductory documentation omits an important configuration technique from the EditorConfig standard, where `none` is an acceptable value for disabling a rule:

https://editorconfig.org/#file-format-details

[2018-11-13 19:42] jedmao commented on #101
The acceptable value is `unset`. Where are you seeing `none`?

[2018-11-28 03:01] xuhdev opened #102 "List Lazarus IDE plugin"
@skalogryz

Link to plugin: https://github.com/skalogryz/editorConfig/tree/master/lazideext

Link to Lazarus IDE: http://www.lazarus-ide.org/

@Pittan Would you mind helping out again :smile:

[2018-12-09 19:34] #98 closed

[2018-12-10 03:18] #102 closed

[2018-12-24 01:13] xuhdev opened #106 "Clarify the first setence on the website to make it less ambiguous"
The first sentence is "EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs." This can be interpreted in two different ways:

1. EditorConfig helps each individual developer define and maintain consistent coding styles between different editors and IDEs that the developer uses.
2. EditorConfig helps developers involved in a specific project

[2018-12-24 06:59] jedmao commented on #106
I have some points that need clarification:
1. What's the difference between "each individual developer" and "developers"?
1. I think I'd rather see "that developers use" instead of "that the developer uses" as if there's only one developer on a project.
1. It doesn't even have to be a specific project, because you can put an `.editorconfig` file outside of project folders (e.g., in your root GitH

[2018-12-24 07:11] xuhdev commented on #106
The difference between my Points 1 and 2 is that: Point 1 stresses on one developer who uses many different IDEs and EditorConfig serves as a configuration file for all of them. Point 2 stresses on one project in which many developers use different tools and EditorConfig serves as a practical code style specification. The rationale for focusing on Point 2 is that projects involving many developers

[2018-12-24 07:32] jedmao commented on #106
OK that makes sense. Might help to call out "multiple developers" just to hit home on that point. I think it also helps to reverse the language a bit. How does this sound?

[2018-12-24 07:57] xuhdev commented on #106
@jedmao :+1: I like that, but I would emphasize "various editors and IDEs." The sentence sounds as if it is an extra (not core) feature to accommodate multiple editors/IDEs. How about removing "potentially"?

[2018-12-24 08:12] jedmao commented on #106
How about replacing "potentially" with "across" various editors?

[2018-12-24 08:14] xuhdev commented on #106
:+1:  Awesome! Let's wait a bit for others' opinions.

[2018-12-24 09:13] xuhdev opened #107 "Incorrect link of EditorConfig support in Visual Studio"
Visual Studio, as listed on the website, should have builtin support. However, we pointed it to a plugin website. Can someone pointing me to the information page which states that EditorConfig is supported as a builtin feature in Visual Studio? I've had a hard time finding it. Thanks!

[2018-12-24 15:58] jedmao commented on #107
And it's only partially built-in supported, from what I understand. I do remember reading that a while back... somewhere...

[2018-12-24 18:03] ffes commented on #107
It is in the release notes for VS2017

https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes-v15.0#coding-convention-support-through-editorconfig

[2019-01-01 18:55] palmin opened #108 "Working Copy supports .editorconfig without a plugin"
Working Copy is a Git client for iOS with a built-in editor that supports .editorconfig without a plugin.

https://workingcopy.app/

You can find the logo/icon at https://workingcopy.app/img/working-copy.png but unfortunately not in the style used by editorconfig.org

I'm the only developer of the app.

[2019-01-02 19:43] xuhdev commented on #108
@Pittan Can you help again? Thanks! :smiley:

[2019-01-02 19:47] xuhdev commented on #106
Closed in 9e89eaae6f840635c7d7ed3a30189b6f9374d13b

[2019-01-02 19:47] #106 closed

[2019-01-02 19:49] xuhdev commented on #100
Oops, sorry, I overlooked this issue. @Pittan Can you help out again? Thanks! :smile:

[2019-01-02 19:50] xuhdev commented on #99
@Pittan Can you help out again? Thanks! :smile:

[2019-01-02 22:48] #107 closed

[2019-02-04 03:11] sayzlim opened #109 "EditorConfig + Carbon"
Hi EditorConfig Team,

@xuhdev told me to make the discussion open, so I’m creating the issue here.

I’m with Carbon from BuySellAds. We’re an ad network that specializes in helping open source projects to generate revenue from display dev/code ads on their sites. Some of the projects that run Carbon on their sites are getbootstrap.com, sequelpro.com, and en.cppreference.com

I decided to reach ou

[2019-02-04 16:41] jedmao commented on #109
I'm listening.

[2019-02-05 03:30] jedmao commented on #109
I'm liking all of these ideas. I'd also be willing to help the NPO process move along.

[2019-02-05 09:21] ppalaga commented on #109
+1 for generating revenue, but I do not want to invest my time into founding an NPO at this time.

[2019-02-08 06:36] xuhdev commented on #109
@jedmao Shall we move to private discussion regarding the NPO? If anyone else decides to join us later, feel free to shoot me an email and I'll pull you in!

[2019-02-09 04:26] jedmao commented on #109
@xuhdev I created an EditorConfig Slack account and invited you to it.

[2019-02-16 00:21] xuhdev commented on #109
@sayzlim Would you mind sharing some sample ads? I checked the websites that you listed but I don't see the ads. If you cannot do this publicly, can you send me and @jedmao <jedmao@outlook.com> via email? Thank you!

[2019-02-16 02:23] sayzlim commented on #109
@xuhdev do you have any ad blockers extension installed? You can check out these sites in private window mode to view the ads. Otherwise, you can also see this screenshot  to view some of the live ads: https://d.pr/i/quszty

**Only dev/code related ads will be displayed on EditorConfig.**

[2019-02-16 03:24] jedmao commented on #109
I can see the ads. They don't look invasive. 👍

[2019-02-16 19:34] xuhdev commented on #109
Are three more days enough for everyone to ask @sayzlim any questions? I'll open a voting on this issue after the end of Feb 19 (Hawaii Time).

[2019-03-02 18:05] ddevault opened #111 "Sourcehut supports editorconfig"
https://sourcehut.org

It's used to render indents at your requested width, and to render a ruler at the column limit.

https://git.sr.ht/~sircmpwn/sourcehut.org/tree/master/logo.svg

Cheers :)

[2019-03-02 21:44] xuhdev commented on #111
Thanks for the info! Is it builtin or supported by plugin? Can you give a reference page?

[2019-03-03 02:03] ddevault commented on #111
It's built-in. There's no docs - it Just Werks.

[2019-03-14 22:47] xuhdev commented on #111
@Pittan Mind helping out again :)

[2019-03-15 02:49] ddevault commented on #111
@Pittan 先の絵はあなたの？すごい上手だよ！私のロゴも助けってもらってもいいですか？よろしくね :smile:

[2019-05-04 07:30] #99 closed

[2019-05-04 08:02] #100 closed

[2019-05-05 05:19] #111 closed

[2019-05-05 05:20] ddevault commented on #111
Thanks :heart:

[2019-05-06 01:04] jafl opened #115 "Code Crusader doesn't need a plugin"
Thank you for adding Code Crusader to your site!  I just want to point out that it doesn't need a plugin, so it should technically be in the top bracket.  I would submit a PR, but I can't figure out the sorting.

[2019-05-06 06:50] #115 closed

[2019-05-06 06:51] xuhdev commented on #115
Thanks! This is fixed.

[2019-07-02 16:24] zbeekman opened #116 "Put CC BY 3.0 licensing in README"
I was looking to see what the licensing of the editorconfig logo was and had to scroll to the very bottom of the EC website to find out. It would be nice to add that info to the logo, and also see if you can get GH to parse a license file to label the project as CC BY 3.0 (if they support that)

[2019-07-03 03:44] xuhdev commented on #116
Do you mean the metadata of the logo file?

[2019-07-03 04:03] xuhdev opened #117 "Include a link to EditorConfig-Action"
I would add on the website a link to [EditorConfig-Action](https://github.com/marketplace/actions/editorconfig-action) (excellent work!), which uses eclint. @jedmao opinions?

[2019-07-03 04:04] xuhdev commented on #117
cc @zbeekman

[2019-07-03 04:58] jedmao commented on #117
I don't see why not; though, ECLint is one of those projects that seemed like a good idea at the time, but now I regret creating it. Only because it's not AST-aware, which means it can't really do a reliable job at fixing or even checking indentation.

[2019-07-09 14:43] zbeekman commented on #117
While I agree that tools which are AST aware can provide much better functionality, for some languages, like Fortran (modern and antiquated) there are currently no such tools and `eclint` & others play a valuable role. If Prettier supported Fortran I would probably use that instead, however, for a lot of languages that just isn't an option.

I would fully support a link to EditorConfig-Action on t

[2019-07-09 14:47] zbeekman commented on #116
I was wondering about the conditions/licensing for re-using the logo file. The https://editorconfig.org says that the website is CC BY 3.0 at the very bottom of the page. I think that the README could also state that the website is CC BY 3.0 so that people browsing the website source (probably to borrow or copy something, in my case the logo) would know what conditions are placed on re-use from br

[2019-07-10 01:54] #116 closed

[2019-07-10 01:57] xuhdev commented on #117
@zbeekman Do you have a logo? If you don't have one, I'm thinking about what can be the best image as a placeholder...

[2019-07-10 14:44] zbeekman commented on #117
https://github.com/zbeekman/EditorConfig-Action/blob/master/assets/GH-social.xcf is the GIMP file I used for the social preview. Feel free to hack out the topline github logo & text. Otherwise, the combination of [OctoCat Double Blink], [Square Heart] and [EditorConfig Logo] is the closest thing I have to an official logo.

[OctoCat Double Blink]: https://github.com/zbeekman/EditorConfig-Action/bl

[2019-08-02 05:21] #109 closed

[2019-08-05 03:37] xuhdev commented on #117
@zbeekman Sorry for the delay. Would you mind sending a PR for this? I'm not sure though whether [GitHub allows us to do so](https://github.com/logos)...

[2019-08-08 05:21] xuhdev opened #122 "List qtcreator plugin"
https://github.com/editorconfig/editorconfig-qtcreator

cc @madmaxoft @hgraeber

editorconfig/editorconfig-qtcreator#6

[2019-08-08 07:27] palmin commented on #108
Would it help if I provided an image to use?

My girlfriend could probably make something very close to the style of the other logos.

[2019-08-08 07:29] Pittan commented on #108
Sorry!  I overeloooked the notification :bow:

[2019-08-08 07:57] xuhdev commented on #108
Either way is OK :) Feel free to make a PR when it's ready! (For license issues, please do so!)

[2019-08-08 12:33] palmin commented on #108
There is an PR #123 with image and link now.

Hoping it doesn't deviate from the existing look of the logos.

[2019-08-08 17:01] jedmao commented on #108
Thanks for the PR. What do you think, @Pittan?

[2019-08-09 01:42] #108 closed

[2019-08-09 01:43] xuhdev commented on #108
I just merged it. No worry!

[2020-03-09 19:23] JakobDev opened #128 "List jdTextEdit"
[jdTextEdit](https://gitlab.com/JakobDev/jdTextEdit) supports .editorconfig out of the box.

[2020-03-09 20:36] xuhdev commented on #128
Awesome! Could you show a reference link, please?

[2020-03-10 21:00] JakobDev commented on #128
What reference do you mean? I'm the developer of jdTextEdit and it is listed as feature on the linked page.

[2020-03-11 10:17] cxw42 commented on #128
I see it's in the README - https://gitlab.com/JakobDev/jdTextEdit/-/blob/master/README.md

[2020-03-13 17:48] xuhdev commented on #128
Awesome! Thanks! @Pittan Would you mind adding an icon for jdTextEdit? :) Thanks again!

[2020-05-17 12:52] lafriks opened #129 "Add Gitea to list of editors"
Gitea comes with built-in support for editorconfig.

https://gitea.io

[2020-05-17 17:26] xuhdev commented on #129
Thanks, awesome!

@Pittan Would you like to draw a new logo :)

![](https://try.gitea.io/img/gitea-lg.png)

Thanks for your long-term support and really appreciate it!

[2020-05-17 17:27] xuhdev commented on #129
@lafriks Do you have a reference page for its EditorConfig support?

[2020-05-18 19:48] lafriks commented on #129
Sorry just code:
https://github.com/go-gitea/gitea/blob/38cd9ba47b0f9b70e8638f8caf77b3effe50eef4/modules/context/repo.go#L191

We are using github.com/editorconfig/editorconfig-core-go/v2 library

[2020-05-18 19:49] lafriks commented on #129
And than based on file path pass options to Monaco JS editor

[2020-05-23 17:23] #128 closed

[2020-05-23 17:24] #129 closed

[2020-05-24 15:52] lafriks commented on #129
Thanks

[2020-06-22 18:34] phikai opened #132 "Add GitLab to list of Editors"
GitLab now supports EditorConfig in the Web IDE. You can find docs here: https://docs.gitlab.com/ee/user/project/web_ide/index.html#configure-the-web-ide and release announcement here: https://about.gitlab.com/releases/2020/06/22/gitlab-13-1-released/#editorconfig-support-in-the-web-ide.

It'd be awesome to get GitLab added to the list of supported editors on the site. Let me know if there's anyth

[2020-06-22 19:18] xuhdev commented on #132
Thanks, this is great news! @Pittan Had to bother you again... Could you help with a logo? This is how GitLab logo looks like: https://twitter.com/gitlab/photo Thank you so much!

[2020-06-22 21:05] Pittan commented on #132
Wow, that's awesome!
I can start to work on it this weekend!

[2020-06-29 18:27] #132 closed

[2020-10-01 17:33] sonicdoe opened #134 "Add Nova to editors with native support"
[Nova](https://nova.app) supports EditorConfig natively, see the [Nova Library](https://library.panic.com/nova/preferences/#editing).

[2020-11-16 16:59] peaverok opened #135 "Certificate on https://editorconfig.org"
I am not sure where to put this but when visiting https://editorconfig.org I get:

Network Error (tcp_error)
--
A communication error occurred: ""
The Web Server may be down, too busy, or experiencing other problems preventing it from responding to requests. You may wish to try again at a later time.
For assistance, contact your network support team.

This is entirely because of your certificate.

[2020-11-16 18:20] greut commented on #135
Did you try asking the federal government IT services?

[2020-12-26 20:39] xuhdev commented on #134
Thanks @sonicdoe !

@Pittan Would you mind helping out again? It's totally fine if you don't have time, we can try to find someone else :) Thanks for all the paintings!

[2020-12-26 20:41] xuhdev commented on #134
@sonicdoe Do you have a link to an image file of its logo? Seems its website doesn't allow me to download its logo...

[2020-12-26 20:45] xuhdev opened #136 "Plugin for Far Manager"
https://github.com/nightroman/FarNet/tree/master/EditorKit

Logo: https://raw.githubusercontent.com/wiki/nightroman/FarNet/images/FarNetLogo.png

cc @Pittan @nightroman

[2020-12-27 17:30] sonicdoe commented on #134
The icon is at [nova.app/images/nova-app-icon.png](https://nova.app/images/nova-app-icon.png).

[2021-01-06 17:27] alex-piccione opened #137 "Personalized Windows icon based on peoject."
When I have some projects opened in VS Code I always wonder which Windows I have to open for the specific project.
The logo is the same and the text is the current file, so I can only see 3-4 same logos with "index.tsx" or "README" but I don't know which one is the UI, the backend or the admin project.
Is there a way to customize the Windows icon based on the project?
If not how can I ask for this

[2021-01-06 20:21] xuhdev commented on #137
I'm not sure what you mean, but it sounds like a VS Code specific feature. I would recommend to file a feature request to VS Code.

[2021-01-06 22:26] alex-piccione commented on #137
You are right,
I found the right place.
https://github.com/microsoft/vscode/issues/new?template=feature_request.md

Thanks.

[2021-01-06 22:26] #137 closed

[2021-09-07 19:32] fszymanski opened #155 "Add Pluma plugin to the list"
https://github.com/fszymanski/pluma-plugins/tree/master/editorconfig
Logo: https://raw.githubusercontent.com/mate-desktop/pluma/master/pixmaps/pluma.ico

[2021-09-19 20:33] #136 closed

[2021-09-19 20:42] #134 closed

[2021-09-19 20:43] #155 closed

[2022-01-30 13:02] LeoColman opened #163 "What's the font used for the logos?"
The logos used in the website have a very pretty font! Is it available anywhere?

[2022-01-30 13:03] LeoColman commented on #163
In issue https://github.com/editorconfig/editorconfig.github.com/issues/51 it was said that the font is handwritten, so it isn't available.

Too bad :(

[2022-01-30 13:03] #163 closed

[2022-02-18 04:45] MakotoE opened #164 "Addition to No Plugin Necessary section"
The text editor [EmEditor](https://www.emeditor.com/) recently added EditorConfig support. Is there a criteria for adding an editor to the No Plugin Necessary section? I would like to open a PR to add EmEditor to this list and I wanted to check if you are open to one.

[2022-03-12 12:53] Atlas48 opened #166 "Odd grammatical syntax at supported-properties/root"
The text at the aforementioned point reads:

As a L1 english speaker, I cannot read the above point, "to stop .editorconfig files search" lacks a definite article, perhaps the author meant ""to stop **the** .editorconfig files search**ing**"? What is exactly meant by "current file"?

I'm happy to file a pull request, I just lack the context of what it's referring to, hence why I filed an issue fir

[2022-03-12 15:53] cxw42 commented on #166
Thanks for pointing this out!  The full details are in <https://editorconfig-specification.readthedocs.io/#file-processing>.  What about something like this?---

[code]

[2022-03-29 19:55] remcohaszing opened #168 "Add prettier to list of headless tools"
[Prettier](https://prettier.io) is a popular code formatter which supports options defined in `.editorconfig`. I believe it belongs in the _Headless Tool_ section on https://editorconfig.org.

I would create a pull request, but that requires to adjust the Prettier logo to your website’s style, which is something I’m not good at.